@charset "UTM-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fontInter: 'Inter';
    --fontPoppins: 'Poppins';
    --fontNoto: 'Noto Sans';
}
body, html{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tracker_body{
    padding: 20px;
    width: 100vw;
    height: 100vh;
    background-color: #ff703b;

    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}
.tracker_btn{
    width: 400px;
    padding: 15px;
    font-size: 18px;
    color: black;
    background-color: rgb(242, 235, 235);
    border-radius: 5px;
    border: none;
    margin: 20px 0;
    text-align: center;
}
.tracker_btn:hover{
    background-color: rgb(223, 216, 216);
}
.tracker_title{
    color: #fff;
    font-size: 2.3em;
    font-family: var(--fontInter);
}
